aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
autoflake==2.3.1
black==25.12.0
build==1.3.0
cffi==2.0.0
click==8.3.1
cryptography==44.0.0
fastapi==0.128.0
grpcio==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
idna==3.11
isort==7.0.0
loguru==0.7.3
mypy_extensions==1.1.0
nvidia-ml-py3==7.352.0
orjson==3.11.5
packaging==25.0
pathspec==0.12.1
pip-tools==7.5.2
platformdirs==4.5.1
protobuf==6.33.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
pyproject_hooks==1.2.0
pytokens==0.3.0
PyYAML==6.0.3
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0